@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button {
  transition: transform 0.3s ease;
}

.button:hover {
  transform: translateY(-40px);
  transform: rotate(30deg);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes changeHue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.rotating-changing-hue {
  animation: rotate 5s linear infinite, changeHue 5s linear infinite;
}

.changing-hue {
  animation: changeHue 5s linear infinite;
}

.rotating {
  animation: rotate 5s linear infinite;
}

@layer base {
  @font-face {
    font-family: ComicNeue;
    font-weight: 400;
    src: url(./ComicNeue-Bold.woff2) format('woff2');
  }
}

.expando:hover {
  transform: scale(1.5); /* Scale the button to 110% */
}
